@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: #158FFF;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-family: michroma;
    font-size: 30px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

h2{
    font-family: michroma;
    font-size: 24px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

h3{
    font-family: michroma;
    font-size: 15px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu {
    position: fixed;
    width: 350px;
    height: 100vh;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-color: 2px solid red;
}

.Curriculum {
    background-color: #158FFF;
    color: white;
    border-color: 3px solid black;
    font-family: michroma;
    font-size: 20px;
    padding: 7px 8px 7px 8px;
    margin-top: 150px;
    margin-left: 118px;
    border: none;
    transition-duration: 0.4s;
}

.Curriculum:hover{
    background-color: black;
    color: white;
}


.reseaux{
    padding-top: 55px;
    padding-left: 100px;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: black;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.social-icon:hover {
    background-color: #158FFF;
    color: white;
}

p {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-family: michroma;
    font-size: 15px;
    color:#949494;
}

.cross{
    display: flex;
    justify-content: end;
}

.cross2{
    width: 25px;
    height: auto;
    margin-top: 10px;
    margin-right: 10px;
    border: 2px solid black;
    padding: 5px;
}

.violet {
    width: 650px;
    height: 525px;
    background-color: #9747FF;
    border: 2px solid black;
    position: absolute;
    margin-left: 40.5%;
    margin-top:4.5%;
    z-index: 3;
}

.orange {
    width: 650px;
    height: 525px;
    background-color: #FF9900;
    border: 2px solid black;
    position: absolute;
    margin-left: 41%;
    margin-top: 5%;
    z-index: 2;
}

.cyan {
    width: 650px;
    height: 525px;
    background-color: #02D7D7;
    border: 2px solid black;
    position: absolute;
    margin-left: 41.5%;
    margin-top: 5.5%;
    z-index: 1;
}

.titreviolet {
    padding-top: 0;
    color:black;
}

#chargement {
    width: 300px;
    height: auto;
    display: flex;
    margin-top: 2%;
    margin-left: 26%;
}

.chargement {
    color: black;
    margin-bottom: 1.5%;
}

hr {
width: 600px;
margin-left:25px;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-left: 6%;
    margin-right: 30px;
    width: 90%;
}

.description {
    font-family: michroma;
    font-size: 12px;
    text-align: start; 
    margin-top:5px;
    padding-top: 0;
}

.credit {
    display: flex;
    justify-content: start;
    padding-top: 15px;
    font-family: michroma;
    font-size: 10px;
    color:rgb(255, 255, 255);
}

.liste {
padding-left: 20%;}

.img1 {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 3%;
}

.img2 {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}


.xp {
    border: 2px solid black;
    text-decoration: none;
    position: fixed;
    font-size: 10px;
    font-family: michroma;
    padding: 4px;
    margin-left: 26.2%;
    z-index: 9;
}

.xp:active{
    color: black;
}

#pro {
    background-color: #fff;
    margin-top: 5.5%;
}

#pro:hover {
    background-color: black;
    color: white;
}

#pro:active{
    color:black;
}

#asso {
    background-color: #E787FF;
    margin-top: 8.5%;
}

#asso:hover {
    background-color: black;
    color: white;
}

#asso:active{
    color:black;
}

#form {
    background-color: #EFFF36;
    margin-top: 11.5%;
}

#form:hover {
    background-color: black;
    color: white;
}

#form:active{
    color:black;
}

#comp {
    background-color: #51FC00;
    margin-top: 14.5%;
}

#comp:hover {
    background-color: black;
    color: white;
}

#comp:active{
    color:black;
}

#at {
    background-color: #FF0000;
    margin-top: 17.5%;
}

#at:hover {
    background-color: black;
    color: white;
}

#at:active{
    color:black;
}

#prix {
    background-color: #9747FF;
    margin-top: 20.5%;
}

#prix:hover {
    background-color: black;
    color: white;
}

#prix:active{
    color:black;
}

#interet {
    background-color: #FF9900;
    margin-top: 23.5%;
}

#interet:hover {
    background-color: black;
    color: white;
}

#interet:active{
    color:black;
}

.PDF {
    border: 2px solid white;
    background-color: black;
    color: white;
    text-decoration: none;
    position: fixed;
    font-size: 10px;
    font-family: michroma;
    padding: 4px;
    margin-left: 26.2%;
    margin-top: 40.5%;
    z-index: 9;
}

.PDF:hover{
    background-color: white;
    color: black;
}

.PDF:active{
    color: black;
}
